/* 通讯录页面部分 */
.addressbook_page {
  width: 100%;
  position: relative;
}

/* 通讯录头部部分 */
.addressbook_header {
  width: 100%;
  height: 60px;
  position: fixed;
  text-align: center;
  line-height: 60px;
  top: 0;
  z-index: 1;
}
.addressbook_header > input {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* 通讯录功能框部分 */
.addressbook_item_content {
  background-color: #fff;
  height: 58px;
  position: relative;
  display: flex;
}
.item_content_img {
  box-sizing: border-box;
  height: 46px;
  width: 46px;
  margin: 6px;
  border-radius: 5px;
}
.newFriend {
  background: url('../img/newFriend.png') no-repeat center;
  background-size: cover;
}
.group {
  background: url('../img/group.png') no-repeat center;
  background-size: cover;
}
.tag {
  background: url('../img/tag.png') no-repeat center;
  background-size: cover;
}
.officialAccount {
  background: url('../img/officialAccount.png') no-repeat center;
  background-size: cover;
}
.item_content_text {
  box-sizing: border-box;
  height: 58px;
  width: calc(100% - 58px);
  line-height: 58px;
  text-align: left;
  border-bottom: 1px solid #f6f6f6;
}