body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, input, form, a, p, textarea {
  margin: 0;
  padding: 0;
}
ol, ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  color: black;
}
img {
  border: none;
  display: block;
}
input {
  background:none;
	outline:none;
  border:none;
}
body {
  background-color: #ededed;
  overflow-x: hidden;
  height: 100%;
}
.top_backButton {
  position: absolute;
  top: 21px;
  left: 10px;
  cursor: pointer;
}
.top_moreButton {
  position: absolute;
  top: 21px;
  right: 10px;
}
.home_container {
  position: relative;
}
/* 页面fixed空间填充 */
.fixed_box {
  position: relative;
  height: 60px;
}

/* 搜索框 */
.search_input {
  background-color: white;
  position: relative;
  width: calc(100% - 20px);
  height: 40px;
  margin: 4px 10px 10px 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: 100;
  box-sizing: border-box;
}

/* 按钮点击后变绿色 */
#green_cover {
  color: green;
}