.fd_info_part {
  height: 736px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f6f6f6;
  position: relative;
  right: -100%;
  transition: right 0.2s;
}
.fd_info_top {
  background-color: #fff;
  width: 100%;
  text-align: center;
  line-height: 45px;
  position: relative;
}
.fd_info_top > div {
  border-bottom: 1px solid #f6f6f6;
  margin-left: 13px;
  text-align: left;
}
.fd_info_top_introducePart {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
  width: 100%;
}
.fd_info_top_introducePart_profile {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin: 0 11px;
  background: url('../img/mayun.jpg') no-repeat center;
  background-size: cover;
}
.fd_info_top_introducePart_textIntroduce {
  display: flex;
  flex-direction: column;
}
.fd_info_top_introducePart_textIntroduce > span {
  line-height: 1;
  margin-bottom: 5px;
  font-size: 12px;
  color: #7b7b7b;
}
.fd_info_top_introducePart_textIntroduce > span:first-child {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
  color: #000;
}
.fd_info_top_btnPart {
  background-color: #fff;
  height: 45px;
  width: 100%;
  
}
/* .fd_info_top_backButton {
  position: absolute;
  top: 12px;
  left: 13px;
} */
.fd_info_top_backButton {
  font-size: 20px;
}
.fd_info_top_moreButton {
  font-size: 20px;
}
.fd_info_bottom {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 -1px 1px rgba(100, 100, 100, .1);
  width: 100%;
  margin-top: 5px;
}
.fd_info_bottom > div {
  background-color: #fff;
  border-bottom: 1px solid #f6f6f6;
  height: 50px;
  width: 100%;
  text-align: center;
  line-height: 50px;
  color: #5f6a7c;
  position: relative;
}
.fd_info_center {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  background-color: #fff;
}

.fd_info_center > div:nth-child(1) {
  height: 80px;
  line-height: 80px;
}
.fd_info_center > div:nth-child(2) {
  height: 45px;
  line-height: 45px;
}
.fd_info_center_item {
  margin-left: 13px;
  border-bottom: 1px solid #f6f6f6;
  text-align: left;
  position: relative;
}
.fd_info_center_item > span {
  position: absolute;
  right: 0;
}