/* 我页面内容部分 */
/* 我页面个人部分 */
.mine_personal_content {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #fff;
}
.mine_personal_content_Selfie {
  box-sizing: border-box;
  padding: 5px;
  height: 46px;
  width: 46px;
  position: absolute;
  top: 7px;
  left: 18px;
  border-radius: 5px;
  display: inline-block;
  background-image: url('../img/selfie.jpg');
  background-size: cover;
}
.mine_personal_content > span {
  position: absolute;
}
.mine_personal_content > span:nth-child(2) {
  top: 7px;
  left: 80px;
  font-weight: 600;
}
.mine_personal_content > span:nth-child(3) {
  top: 30px;
  left: 80px;
  color: #b3b3b3;
  font-size: 15px;
}
.mine_personal_content > span:nth-child(4) {
  top: 30px;
  right: 40px;
}
.mine_personal_content > span:nth-child(5) {
  top: 30px;
  right: 10px;
}
/* 我页面支付部分 */
.mine_payment_content {
  background-color: #fff;
  border-top: 8px solid #f6f6f6;
  height: 58px;
  line-height: 58px;
  position: relative;
}
.mine_payment_content > span:first-child {
  position: absolute;
  left: 10px;
}
.mine_payment_content > span:nth-child(2) {
  position: absolute;
  left: 38px;
}
.mine_payment_content > span:nth-child(3) {
  position: absolute;
  right: 10px;
}
/* 我页面生活部分 */
.mine_life_content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-top: 8px solid #f6f6f6;
}
.mine_life_content_item {
  height: 58px;
  line-height: 58px;
  position: relative;
}
.mine_life_content_item > span:first-child {
  position: absolute;
  left: 10px;
}
.mine_life_content_item > span:nth-child(2) {
  position: absolute;
  left: 38px;
  width: calc(100% - 38px);
  border-bottom: 1px solid #f6f6f6;
}
.mine_life_content_item > span:nth-child(3) {
  position: absolute;
  right: 10px;
}
/* 我页面设置部分 */
.mine_setting_content {
  background-color: #fff;
  height: 58px;
  line-height: 58px;
  position: relative;
  border-top: 8px solid #f6f6f6;
}
.mine_setting_content > span:first-child {
  position: absolute;
  left: 10px;
}
.mine_setting_content > span:nth-child(2) {
  position: absolute;
  left: 38px;
  width: calc(100% - 38px);
  border-bottom: 1px solid #f6f6f6;
}
.mine_setting_content > span:nth-child(3) {
  position: absolute;
  right: 10px;
}
/* 我页面部分 */
/* 头部部分 */
.tab_page_mine_header {
  background-color: #fff;
  height: 45px;
  text-align: center;
  line-height: 45px;
  box-shadow: 0 -1px 1px rgba(100, 100, 100, .1);
}
.tab_page_mine_header > input {
  position: absolute;
  top: 12px;
  right: 10px;
}