.in_right {
  animation: slide-right 0.4s forwards;
}

@keyframes slide-right {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

.out_right {
  animation: slide-left 0.4s forwards;
}
@keyframes slide-left {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}

.out_left {
  animation: out-left 0.4s;
}

@keyframes out-left {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.in_left {
  animation: in-left 0.4s;
}

@keyframes in-left {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}
