.inSlide {
  animation: slide-right 0.5s forwards;
}

@keyframes slide-right {
  0% {
    right: -100%;
  }

  100% {
    right: 0;
  }
}

.outSlide {
  animation: slide-left 0.5s forwards;
}
@keyframes slide-left {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}